<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CRS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <CRS.My.MySettings>
            <setting name="Col0_Width" serializeAs="String">
                <value>43</value>
            </setting>
            <setting name="Col1_Width" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="Col2_Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Col3_Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Col4_Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Col5_Width" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="Col0_Show" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col1_Show" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col2_Show" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col3_Show" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col4_Show" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col5_Show" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartupSize" serializeAs="String">
                <value>627, 540</value>
            </setting>
            <setting name="StartupLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="LastTasklist" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Backcolor" serializeAs="String">
                <value>AliceBlue</value>
            </setting>
            <setting name="AlertsOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Col0_DisplayIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Col1_DisplayIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Col2_DisplayIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Col3_DisplayIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Col4_DisplayIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Col5_DisplayIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DateTimeFormat" serializeAs="String">
                <value>"MM/dd/yy HH:mm"</value>
            </setting>
            <setting name="PromptToClose" serializeAs="String">
                <value>True</value>
            </setting>
        </CRS.My.MySettings>
    </userSettings>
</configuration>
